.meta_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article_data, .article_performance {
    display: flex;
    align-items: center;
    gap: 20px;
}

.topic {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #0000004f;
    border-radius: 2rem;
    padding: 5px 14px;
    text-transform: capitalize;
}

.date {
    color: #0000004f;
}

.author {
    border: 1px solid #0000004f;
    border-radius: 2rem;
    padding: 5px 14px;
    text-transform: capitalize;
    color: #0000004f;
}

@media only screen and (max-width: 720px){
    .meta_container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
}